@charset "UTF-8";
.header {
  margin-bottom: 115px;
}
.header__top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.header__top__tittle {
  font-family: "bahnschrift";
  font-size: 14pt;
  color: #717171;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header__top__text {
  font-family: "bahnschrift";
  font-size: 14pt;
  font-weight: normal;
  text-decoration: none;
  color: black;
  padding-bottom: 35px;
}
.header__services {
  padding-left: 15px;
}
.header__right {
  margin-top: 30px;
  padding-right: 15px;
}
.header__right__top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__right__links {
  display: flex;
  background-color: rgb(0, 0, 0);
  padding-left: 100px;
}
.header__right__link {
  text-decoration: none;
  color: white;
  font-size: 12pt;
}
.header__right__link__button {
  height: 42px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  justify-content: center;
}
.header__right__link__button:hover {
  transform: scale(1.1);
}
.header__logo {
  border: none;
  background: white;
}
.header__logo__text {
  font-size: 42pt;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding-top: 30px;
}
.header__contacts__box {
  display: flex;
  gap: 30px;
}
.header__contacts__text {
  font-family: "bahnschrift";
  font-size: 14pt;
  font-weight: normal;
  text-decoration: none;
  color: black;
  padding-top: 10px;
}
.header__contacts__text_num:hover {
  transform: scale(1.1);
}
.header__content__box {
  display: flex;
  gap: 13px;
}
.header__content__img {
  height: 500px;
  width: 850px;
}

.content {
  padding-top: 150px;
  padding-bottom: 180px;
}
.content__tittle {
  font-size: 18pt;
  padding-bottom: 30px;
}
.content__text {
  font-size: 14pt;
  padding-bottom: 90px;
  width: 1200px;
}
.content__text_2 {
  padding-bottom: 150px;
}
.content__top {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.content__top__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content__top__img {
  align-items: center;
}
.content__top__tittle {
  font-size: 18pt;
}
.content__top__button {
  border: none;
  font-size: 16pt;
  background-color: #d2d2d2;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: end;
}
.content__top__button__link {
  text-decoration: none;
  color: black;
  padding-right: 20px;
  font-size: 18pt;
}
.content__top__button:hover {
  background-color: #aaaaaa;
}
.content__top__texts {
  font-size: 12pt;
}
.content__items {
  padding-top: 180px;
}
.content__items__tittles {
  display: flex;
  gap: 30px;
  font-size: 18pt;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.content__items__imgs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}
.content__items__imgs__box {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.content__bottombutton {
  margin-top: 40px;
  padding-left: 560px;
  padding-right: 20px;
  border: none;
  font-size: 16pt;
  background-color: #d2d2d2;
  padding-top: 12px;
  padding-bottom: 12px;
}
.content__bottombutton__text {
  text-decoration: none;
  color: black;
}
.content__bottombutton:hover {
  background-color: #aaaaaa;
}

.projects {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-bottom: 180px;
  flex-wrap: wrap;
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a grey background color */
}
.projects__tittle {
  font-size: 20pt;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
.projects__mySlides1, .projects__mySlides2 {
  display: none;
}
.projects__img {
  width: 630px;
  height: 360px;
}
.projects__slideshow-container {
  position: relative;
  margin: auto;
}
.projects__prev, .projects__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.projects__prev {
  margin-left: -60px;
}
.projects__next {
  margin-right: -60px;
}
.projects__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.projects__prev:hover, .projects__next:hover {
  transform: scale(1.2);
}
.projects__dot1, .projects__dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.projects__dot1:hover, .projects__dot2:hover {
  background-color: #717171;
}

.active {
  background-color: #717171;
}

.partners {
  height: 452px;
  background-color: rgb(0, 0, 0);
  padding-top: 40px;
  padding-bottom: 40px;
}
.partners__tittle {
  padding-bottom: 120px;
  font-size: 18pt;
  color: white;
  text-align: center;
}
.partners__items {
  display: flex;
  flex-direction: column;
  gap: 94px;
  flex-wrap: wrap;
}
.partners__items__box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
}
.partners__item {
  height: 55px;
}

.reviews {
  padding-top: 180px;
  padding-bottom: 180px;
}
.reviews__tittle {
  font-size: 18pt;
  text-align: center;
  padding-bottom: 40px;
}

.articles {
  padding-bottom: 180px;
}
.articles__tittle {
  font-size: 18pt;
  text-align: center;
  padding-bottom: 40px;
}
.articles__box {
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
}
.articles__box__text {
  font-size: 18pt;
}
.articles__box__imgs {
  display: flex;
}
.articles__item {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer {
  background-color: rgb(0, 0, 0);
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
}
.footer__left__box {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  padding-bottom: 154px;
  color: white;
  font-size: 42pt;
  text-decoration: none;
}
.footer__logo__img {
  color: white;
}
.footer__button {
  width: 368px;
  height: 42px;
  text-align: center;
  background-color: #fff;
  font-size: 16pt;
}
.footer__button__link {
  text-decoration: none;
  color: black;
}
.footer__button:hover {
  transform: scale(1.05);
}
.footer__right__box {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  justify-content: end;
  text-align: end;
  align-items: end;
}
.footer__box {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
}
.footer__text {
  font-size: 18pt;
  color: white;
}
.footer__text_grey {
  color: #717171;
}
.footer__text__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18pt;
}
.footer__text__link_num:hover {
  transform: scale(1.1);
}
.footer__link {
  padding-top: 10px;
}
.footer__link:hover {
  transform: scale(1.1);
}

.popup {
  /* Ограничиваем контейнер по ширине 1000px */
  /* Стили самой формы */
  /* Элементы левой колонки: адрес, телефон, email */
  /* Общие стили для иконок */
  /* Стили для заголовков левой колонки */
  /* Заголовок правой колонки */
  /* Текст правой колонки */
  /* Контейнер для input'ов формы */
  /* Стили для input и textarea (поле сообщение) */
  /* Отдельно стилизуем поле сообщение */
  /* Стили для контейнера кнопки */
  /* Стили для самой кнопки */
}
.popup__container {
  position: relative;
  display: -ms-flexbox;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.popup__content {
  display: flex; /* делаем колонки в ряд */
  align-items: center; /* выравниваем по центру */
  justify-content: center; /* колонки растянутся на всю ширину */
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  width: 100%;
}
.popup__details {
  margin-bottom: 15px;
  text-align: center;
}
.popup__details i {
  font-size: 25px; /* задаем размер */
  color: #3e2093; /* задаем цвет */
  margin-bottom: 10px;
}
.popup__topic {
  font-size: 20pt;
  font-weight: 500;
  margin-bottom: 7px; /* отступ снизу 7px */
}
.popup__topic-tittle {
  font-size: 20pt;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.popup__topic-text {
  font-size: 16pt;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.popup__right-side p {
  margin-bottom: 20px;
}
.popup__input-box {
  height: 50px; /* по сути задаем высоту input'а */
  width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
  margin-bottom: 20px; /* отступаем снизу 20px */
}
.popup__input-box input,
.popup textarea {
  height: 100%; /* растягиваем на всю высоту контейнера 50px */
  width: 80%; /* растягиваем на всю ширину */
  border: none; /* убираем внешние края */
  border-radius: 5px; /* скругляем края */
  background: #f0f1f8; /* задаем цвет фона */
  padding: 0 20px; /* отступ справа и слева 20px */
}
.popup__input-box textarea {
  resize: none; /* чтобы нельзя было менять высоту */
  padding: 20px;
  width: 80%;
}
.popup__button {
  margin-top: 20px;
  display: inline-block; /* делаем блочно-строчный элемент */
}
.popup__button input[type=button] {
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.6);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
  /* Меняем цвет фона при наведении на кнопку */
}
.popup__button input[type=button]:hover {
  background-color: rgb(0, 0, 0);
}

/* МОБИЛЬНАЯ ВЕРСИЯ */
/* Меняем стили при ширине экрана меньше 800px */
@media (max-width: 800px) {
  /* Теперь форма (правая колонка) будет сверху, а элементы (левая колонка) снизу */
  .popup {
    /* Внутри левой колонки внутренние элементы располагаем в ряд */
    /* Убираем разделительную линию */
    /* Правая колонка теперь на всю ширину и не имеет отступа слева */
  }
  .popup__content {
    height: 100%;
    flex-direction: column-reverse; /* располагаем в колонку и реверсивно */
  }
  .popup__left-side {
    margin-top: 50px;
    flex-direction: row; /* располагаем элементы (адрес, телефон, email) в ряд */
    width: 100%; /* левая колонка на всю ширину */
    justify-content: center;
    flex-wrap: wrap; /* перенос элементов, если не хватит места */
  }
  .popup__details {
    margin-right: 20px;
  }
  .popup__details:last-child {
    margin-right: 0;
  }
  .popup__left-side::before {
    display: none;
  }
  .popup__right-side {
    width: 100%;
    margin-left: 0;
  }
}
/* Стили всплывающего окна по-умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}

/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

@media (min-width: 768px) {
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* Стили заголовка окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}

.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}

/* Стили кнопки "х" ("Закрыть")  */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  text-decoration: none;
}

/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.header__portfolio__content {
  height: 350px;
  background-color: rgb(181, 181, 181);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}
.header__portfolio__tittle {
  padding-top: 20px;
  font-size: 30pt;
  color: black;
}
.header__portfolio__text {
  font-size: 16pt;
  color: white;
}

.steps {
  padding-bottom: 180px;
}
.steps__tittle {
  font-size: 30pt;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.steps__items {
  display: flex;
  gap: 40px;
  padding-bottom: 60px;
}
.steps__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.steps__item__tittle {
  font-style: 20pt;
  background-color: black;
  color: white;
  width: 345px;
  text-align: center;
}
.steps__item__img {
  padding-top: 40px;
  padding-bottom: 30px;
  height: 60px;
  width: 60px;
}
.steps__item__name {
  font-size: 18pt;
  padding-bottom: 20px;
}
.steps__item__text {
  font-size: 16pt;
  color: rgb(180, 180, 180);
}

.price__tittle {
  font-size: 30pt;
  padding-bottom: 90px;
  text-align: center;
}
.price__table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.price__th {
  height: 60px;
  font-weight: normal;
  background: black;
  color: white;
  border: 1px solid #dddddd;
  font-size: 20pt;
  text-align: center;
}
.price__th_main {
  padding-left: 40px;
  width: 950px;
  text-align: left;
}
.price__th_foot {
  font-size: 16pt;
}
.price__tr {
  justify-content: center;
}
.price__td {
  height: 60px;
  border: 1px solid #dddddd;
  padding-top: 5px;
  text-align: center;
  font-style: 14pt;
}
.price__td_main {
  text-align: left;
  padding-left: 40px;
  font-weight: bold;
}
.price__tfoot {
  height: 70px;
}
.price__bottom {
  padding-top: 180px;
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price__bottom__left__tittle {
  font-size: 20pt;
  padding-bottom: 70px;
}
.price__bottom__left__ul {
  padding-left: 20px;
}
.price__bottom__left__li {
  font-size: 16pt;
}
.price__bottom__right {
  height: 225px;
  width: 850px;
  border: 2px solid black;
  padding-right: 10px;
  font-size: 16pt;
  display: flex;
  text-align: end;
  justify-content: center;
  align-items: center;
  line-height: 40px;
}

.portfolio__tittle {
  padding-bottom: 40px;
  font-size: 20pt;
}
.portfolio__item {
  display: flex;
  gap: 20px;
  padding-bottom: 120px;
}
.realization {
  padding-bottom: 180px;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* Caption text */
  /* The dots/bullets/indicators */
  /* Fading animation */
}
.realization__tittle {
  text-align: center;
  font-size: 18pt;
  padding-bottom: 40px;
}
.realization__img {
  vertical-align: middle;
}
.realization__slideshow-container {
  box-sizing: border-box;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.realization__mySlides {
  display: none;
}
.realization__prev, .realization__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* On hover, add a black background color with a little bit see-through */
}
.realization__prev:hover, .realization__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.realization__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.realization__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.realization__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.realization__dot:hover {
  background-color: #717171;
}
.realization__fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@font-face {
  font-family: "Bahnschrift";
  src: url("./fonts/bahnschrift.eot"); /* IE 9 Compatibility Mode */
  src: url("./fonts/bahnschrift.eot?#iefix") format("embedded-opentype"), url("./fonts/bahnschrift.woff2") format("woff2"), url("./fonts/bahnschrift.woff") format("woff"), url("./fonts/bahnschrift.ttf") format("truetype"), url("./fonts/bahnschrift.svg#bahnschrift") format("svg"); /* Chrome < 4, Legacy iOS */
}
* {
  margin: 0px;
  padding: 0px;
}

.center {
  padding-right: 100px;
  padding-left: 100px;
}

body {
  font-family: "Bahnschrift", sans-serif;
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */