.real {
  padding-top: 180px;
  &__img {
    &__description {
      padding-top: 20px;
      font-size: 16pt;
      color: #717171;
    }
  }

  &__options {
    padding-bottom: 60px;

    &__box {
      display: flex;
      padding-bottom: 90px;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__tittle {
      font-size: 30pt;
      padding-bottom: 90px;
      text-align: center;
    }

    &__div {
      &_left {
        text-align: left;
      }
      &_middle {
        text-align: center;
      }
      &_right {
        text-align: right;
      }

      &__tittle {
        font-size: 18pt;
        padding-bottom: 20px;
      }

      &__text {
        font-style: 16pt;
        color: #717171;
        width: 440px;
      }
    }
  }

  &__portfolio {
    &__item {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__text {
      font-size: 16pt;
      text-align: right;
      padding-right: 5px;
    }

    &__box {
      padding-bottom: 70px;
    }
  }

  &__box {
    padding-top: 180px;
    padding-bottom: 180px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;

    &__items {
      display: flex;
      gap: 20px;
    }

    &__img {
      height: 450px;
      width: 358px;

      &_big {
        height: 550px;
        width: 735px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 50px;

    &__text {
      font-size: 18pt;
    }

    &__img {
      width: 670px;
      height: 405px;
    }
  }
}

@media (max-width: 500px) {
  .real {
    padding-top: 50px;

    &__info {
      gap: 20px;

      &__text {
        font-size: 10pt;
      }

      &__img {
        width: 380px;
        height: 200px;
      }
    }

    &__img {
      &__description {
        font-size: 10pt;
        width: 280px;
      }
    }

    &__options {
      &__tittle {
        font-size: 12pt;
        padding-bottom: 30px;
      }

      &__box {
        padding-bottom: 30px;
        justify-content: center;
        gap: 30px;
      }

      &__div {
        &__tittle {
          font-size: 10pt;
          padding-bottom: 10px;
        }

        &__text {
          font-size: 10pt;
          width: 280px;
        }

        &_left {
          text-align: center;
        }
        &_middle {
          text-align: center;
        }
        &_right {
          text-align: center;
        }
      }
    }

    &__box {
      padding-top: 50px;
      padding-bottom: 50px;

      &__items {
        justify-content: center;
        flex-wrap: wrap;
      }

      &__img {
        height: 250px;
        width: 180px;

        &_big {
          height: 250px;
          width: 380px;
        }
      }
    }
  }
}
