.header {
  margin-bottom: 115px;

  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: 15px;

    &__tittle {
      font-family: "bahnschrift";
      font-size: 14pt;
      color: #717171;

      padding-top: 35px;
      padding-bottom: 35px;
    }

    &__text {
      font-size: 12pt;
      font-weight: normal;
      text-decoration: none;
      color: black;

      padding-bottom: 35px;
    }
  }

  &__services {
    padding-left: 15px;
  }

  &__right {
    margin-top: 30px;

    &__top {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__links {
      display: flex;
      background-color: rgb(0 0 0);
      padding-left: 50px;
      padding-right: 15px;

      position: absolute;
      right: 5px;
    }

    &__link {
      text-decoration: none;
      color: white;
      font-size: 12pt;

      &__button {
        height: 37px;
        border: none;
        background-color: rgb(0 0 0 / 0);
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        justify-content: center;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__logo {
    border: none;
    background: white;
    position: relative;
    right: 489px;

    &__text {
      font-size: 39pt;
      text-decoration: none;
      color: rgb(0, 0, 0);
      // letter-spacing: -5px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    padding-top: 25px;
    margin-right: 30px;

    &__box {
      display: flex;
      gap: 30px;

      &_2 {
        gap: 42px;
      }
    }

    &__text {
      font-family: "bahnschrift";
      font-size: 14pt;
      font-weight: normal;
      text-decoration: none;
      color: black;

      padding-top: 10px;

      &_num {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__content {
    &__box {
      display: flex;
      gap: 13px;
    }

    &__img {
      height: 500px;
      width: 850px;
    }
  }
}

.content {
  padding-top: 50px;

  padding-bottom: 150px;

  &__tittle {
    font-size: 18pt;
    padding-bottom: 30px;
  }
  &__text {
    font-size: 14pt;
    padding-bottom: 90px;
    width: 1200px;

    &_2 {
      padding-bottom: 150px;
    }
  }

  &__top {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__img {
      align-items: center;
    }

    &__tittle {
      font-size: 18pt;
    }

    &__button {
      border: none;
      font-size: 16pt;
      background-color: #d2d2d2;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: end;

      &__link {
        text-decoration: none;
        color: black;
        padding-right: 20px;
        font-size: 18pt;
      }

      &:hover {
        background-color: #aaaaaa;
      }
    }

    &__texts {
      font-size: 12pt;
    }
  }

  &__items {
    padding-top: 180px;

    &__tittles {
      display: flex;
      gap: 30px;
      font-size: 18pt;
      padding-bottom: 20px;
      text-align: center;
      justify-content: center;

      flex-wrap: wrap;
    }

    &__tittle {
    }

    &__imgs {
      display: flex;
      flex-direction: column;
      gap: 20px;
      flex-wrap: wrap;
      align-items: center;

      &__box {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
      }
    }

    &__img {
    }
  }

  &__bottombutton {
    margin-top: 40px;
    padding-left: 560px;
    padding-right: 20px;
    border: none;
    font-size: 16pt;
    background-color: #d2d2d2;
    padding-top: 12px;
    padding-bottom: 12px;

    &__text {
      text-decoration: none;
      color: black;
    }

    &:hover {
      background-color: #aaaaaa;
    }
  }
}

.projects {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding-bottom: 180px;
  flex-wrap: wrap;

  &__tittle {
    font-size: 20pt;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  &__mySlides1,
  &__mySlides2 {
    display: none;
  }

  &__img {
    width: 630px;
    height: 360px;
  }

  /* Slideshow container */
  &__slideshow-container {
    // max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  &__prev,
  &__next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  &__prev {
    margin-left: -60px;
  }

  &__next {
    margin-right: -60px;
  }

  /* Position the "next button" to the right */
  &__next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a grey background color */
  &__prev:hover,
  &__next:hover {
    transform: scale(1.2);
  }

  &__dots {
  }

  &__dot1,
  &__dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &:hover {
      background-color: #717171;
    }
  }
}

.active {
  background-color: #717171;
}

.partners {
  height: 452px;
  background-color: rgb(0 0 0);

  padding-top: 40px;
  padding-bottom: 40px;

  &__tittle {
    padding-bottom: 120px;
    font-size: 18pt;
    color: white;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 94px;
    flex-wrap: wrap;

    &__box {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__item {
    height: 55px;
  }
}

.reviews {
  padding-top: 180px;
  padding-bottom: 180px;

  &__tittle {
    font-size: 18pt;
    text-align: center;
    padding-bottom: 40px;
  }
}

.articles {
  padding-bottom: 180px;
  &__tittle {
    font-size: 18pt;
    text-align: center;
    padding-bottom: 40px;
  }

  &__box {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;

    &__text {
      font-size: 18pt;
    }

    &__imgs {
      display: flex;
    }

    &__img {
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.footer {
  background-color: rgb(0, 0, 0);
  padding-top: 100px;
  padding-bottom: 80px;

  display: flex;
  justify-content: space-between;

  &__left__box {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    padding-bottom: 154px;
    color: white;
    font-size: 42pt;
    text-decoration: none;

    &__img {
      color: white;
    }
  }

  &__button {
    width: 368px;
    height: 42px;
    text-align: center;
    background-color: #fff;
    font-size: 16pt;

    &__link {
      text-decoration: none;
      color: black;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__right__box {
    display: flex;
    gap: 40px;
    flex-direction: column;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    justify-content: end;
    text-align: end;
    align-items: end;
  }

  &__box {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
  }

  &__text {
    font-size: 18pt;
    color: white;

    &_grey {
      color: #717171;
    }

    &__link {
      text-decoration: none;
      color: rgb(255, 255, 255);
      font-size: 18pt;

      &_num {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__link {
    padding-top: 10px;
    height: 40px;
    width: 40px;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.popup {
  /* Ограничиваем контейнер по ширине 1000px */
  &__container {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }

  /* Стили самой формы */
  &__content {
    display: flex; /* делаем колонки в ряд */
    align-items: center; /* выравниваем по центру */
    justify-content: center; /* колонки растянутся на всю ширину */
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);

    width: 100%;
  }

  /* Элементы левой колонки: адрес, телефон, email */
  &__details {
    margin-bottom: 15px;
    text-align: center;
  }

  /* Общие стили для иконок */
  &__details i {
    font-size: 25px; /* задаем размер */
    color: #3e2093; /* задаем цвет */
    margin-bottom: 10px;
  }

  /* Стили для заголовков левой колонки */
  &__topic {
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: 7px; /* отступ снизу 7px */
  }

  /* Заголовок правой колонки */
  &__topic-tittle {
    font-size: 20pt;
    font-weight: 600;
    color: rgb(0 0 0);

    margin-bottom: 10px;
  }

  &__topic-text {
    font-size: 16pt;
    font-weight: 600;
    color: rgb(0 0 0 / 0.6);

    margin-bottom: 10px;
  }

  /* Текст правой колонки */
  &__right-side p {
    margin-bottom: 20px;
  }

  /* Контейнер для input'ов формы */
  &__input-box {
    height: 50px; /* по сути задаем высоту input'а */
    width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
    margin-bottom: 20px; /* отступаем снизу 20px */
  }

  /* Стили для input и textarea (поле сообщение) */
  &__input-box input,
  textarea {
    height: 100%; /* растягиваем на всю высоту контейнера 50px */
    width: 80%; /* растягиваем на всю ширину */
    border: none; /* убираем внешние края */
    border-radius: 5px; /* скругляем края */
    background: #f0f1f8; /* задаем цвет фона */
    padding: 0 20px; /* отступ справа и слева 20px */
  }

  /* Отдельно стилизуем поле сообщение */
  &__input-box textarea {
    resize: none; /* чтобы нельзя было менять высоту */
    padding: 20px;
    width: 80%;
  }

  /* Стили для контейнера кнопки */
  &__button {
    margin-top: 20px;
    display: inline-block; /* делаем блочно-строчный элемент */
  }

  /* Стили для самой кнопки */
  &__button input[type="button"] {
    color: #fff;
    font-size: 18px;
    background-color: rgb(0 0 0 / 0.6);
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */

    /* Меняем цвет фона при наведении на кнопку */
    &:hover {
      background-color: rgb(0 0 0);
    }
  }
}

/* МОБИЛЬНАЯ ВЕРСИЯ */

@media (max-width: 500px) {
  /*Стили, на устройствах с максимальной ширеной экрана 500 пикселей и меньше */
  .header {
    margin-bottom: 30px;

    &__top {
      margin-bottom: 30px;
      flex-wrap: wrap-reverse;

      &__tittle {
        display: none;
      }

      &__text {
        padding-top: 20px;
        font-size: 8pt;
        padding-bottom: 0px;
      }
    }

    &__logo {
      &__text {
        font-size: 20pt;
        letter-spacing: -2px;
      }
    }

    &__services {
      padding-left: 0px;
    }

    &__right {
      text-align: center;

      &__links {
        padding-left: 5px;
      }

      &__link {
        font-size: 6pt;

        &__button {
          height: 20px;
          width: 80px;
          padding-left: 3px;
          padding-right: 3px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    &__contacts {
      padding-top: 15px;
      display: none;

      &__box {
        display: flex;
        gap: 15px;
      }

      &__text {
        font-size: 8pt;
        padding-top: 5px;
      }
    }

    &__content {
      &__box {
        justify-content: center;
        display: flex;
        gap: 8px;
      }

      &__img {
        height: 160px;
        width: 200px;
      }
    }
  }

  .content {
    padding-top: 30px;
    padding-bottom: 100px;

    &__tittle {
      font-size: 12pt;
      padding-bottom: 15px;
    }

    &__text {
      font-size: 10pt;
      padding-bottom: 40px;
      width: 400px;

      &_2 {
        padding-bottom: 20px;
      }
    }

    &__top {
      gap: 10px;

      &__item {
        gap: 10px;
      }

      &__img {
        height: 190px;
        width: 180px;
      }

      &__tittle {
        font-size: 12pt;
      }

      &__button {
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 10pt;

        &__link {
          padding-right: 10px;
          font-size: 8pt;
        }
      }

      &__texts {
        display: none;
        font-size: 8pt;
        width: 180px;
      }
    }

    &__items {
      padding-top: 50px;

      &__tittles {
        gap: 10px;
        font-size: 10pt;
        padding-bottom: 10px;
      }

      &__imgs {
        gap: 10px;

        &__box {
          gap: 10px;
          justify-content: center;
        }
      }

      &__img {
        width: 180px;
        height: 150px;
      }
    }

    &__bottombutton {
      margin-top: 20px;
      padding-left: 300px;
      padding-right: 10px;
      font-size: 8pt;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  .projects {
    padding-bottom: 50px;

    &__tittle {
      font-size: 12pt;
      padding-bottom: 20px;
      padding-top: 10px;
    }

    &__img {
      width: 340px;
      height: 180px;
    }

    /* Slideshow container */
    &__slideshow-container {
      // max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Next & previous buttons */
    &__prev,
    &__next {
      &__img {
        height: 20px;
        width: 20px;
      }
    }

    &__prev {
      margin-left: -40px;
    }

    &__next {
      margin-right: -40px;
    }

    &__dot1,
    &__dot2 {
      height: 8px;
      width: 8px;
    }
  }

  .partners {
    height: 280px;

    padding-top: 40px;
    padding-bottom: 20px;

    &__tittle {
      padding-bottom: 40px;
      font-size: 12pt;
    }

    &__items {
      gap: 30px;
    }

    &__item {
      height: 30px;
    }
  }

  .reviews {
    padding-top: 50px;
    padding-bottom: 50px;

    &__tittle {
      font-size: 12pt;
      padding-bottom: 20px;
    }
  }

  .articles {
    padding-bottom: 50px;

    &__tittle {
      font-size: 12pt;
      padding-bottom: 20px;
    }

    &__box {
      gap: 30px;

      &__tittle {
        font-size: 8pt;
      }

      &__imgs {
        flex-wrap: wrap;
        padding-bottom: 20px;
      }

      &__img {
        width: 150px;
      }
    }
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;

    &__logo {
      padding-bottom: 20px;
      font-size: 20pt;
    }

    &__button {
      width: 180px;
      height: 32px;
      font-size: 8pt;
    }

    &__right__box {
      gap: 20px;
    }

    &__contacts {
      padding-bottom: 10px;
    }

    &__box {
      gap: 10px;
      padding-bottom: 0px;
    }

    &__text {
      font-size: 8pt;

      &__link {
        font-size: 8pt;
      }
    }

    &__link {
      padding-top: 10px;
      height: 20px;
      width: 20px;
    }
  }

  .popup {
    &__container {
      width: 90%;
    }

    &__content {
      height: 100%;
      padding: 10px;
      box-shadow: 2px 2px 6px 0 rgba(34, 60, 80, 0.2);
    }

    &__details {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    &__details:last-child {
      margin-right: 0;
    }

    &__topic {
      font-size: 10pt;
      margin-bottom: 7px; /* отступ снизу 7px */
    }

    /* Заголовок правой колонки */
    &__topic-tittle {
      font-size: 12pt;
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &__topic-text {
      font-size: 8pt;
    }

    &__input-box {
      height: 50px; /* по сути задаем высоту input'а */
      width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
      margin-bottom: 10px; /* отступаем снизу 20px */
    }

    /* Стили для самой кнопки */
    &__button input[type="button"] {
      font-size: 10px;
      padding: 10px 15px;
    }
  }
}

/* Стили всплывающего окна по-умолчанию */
.modal {
  position: fixed; /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5); /* фон */
  z-index: 1050;
  opacity: 0; /* по умолчанию модальное окно прозрачно */
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in; /* анимация перехода */
  pointer-events: none; /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* При отображении модального окно */
.modal:target {
  opacity: 1; /* делаем окно видимым */
  pointer-events: auto; /* элемент видим для событий мыши */
  overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
